
<% if current_user %>
  <nav class="navbar navbar-inverse" style="background-color: #e3e2df">
    <li class="nav-link"><%= link_to 'Home', user_path(current_user) %></li>
    <li class="nav-link"><%= link_to 'Matches', users_path %></li>
    <li class="nav-link"><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
    <li class="nav-link"><%= link_to 'Logout', session_path(current_user), method: "delete" %></li>
  </nav>
<% end %>
